<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block style
        block title
        
    body
        
        header
            nav.navbar
                div.navbar-item
                    a(href="/shop") Shop của Minh Đẹp Trai
                //- div.navbar-item
                //-     a(href="/cart") Your Cart
                if isLoggedIn == true 
                    div.navbar-item
                        a(href="/add-product") Add Product 
                    div.navbar-item
                        a(href="/logout") Log out
                else
                    div.navbar-item
                        a(href="/login") Log in
                    div.navbar-item
                        a(href="/signup") Sign Up
        block content               
        
        block script