extends layout/main-layout.pug

block title 
    title Add Product

block style 
    link(rel="stylesheet", href="/css/add-product.css")

block content
    form(action="/add-product" method="POST")
                label Product Name
                input.user-input(type="text" name = "name") 
                label Product Price
                input.user-input(type="text" name = "price")
                label Description
                input.user-input(type="text" name = "description")
                label Image URL
                input.user-input(type="text" name = "url")
                button.btn(type="submit") Submit
