extends layout/main-layout.pug 

block style
    link(rel="stylesheet", href="/css/checkout.css")

block title
    title Final Orders

block content
    p(style="text-align:center; font-weight:bold;  font-family: Verdana, Geneva, Tahoma, sans-serif; margin:auto; font-size:30px") Thanks for your Orders


block script
    <script src="/script/checkout.js"></script>
    
        