extends layout/main-layout.pug

block title 
    title ResetPassword

block style 
    link(rel="stylesheet", href="/css/add-product.css")

block content
    form(action="/resetpassword" method="POST")
                label Username
                input.user-input(type="text" name = "username") 
                label Email
                input.user-input(type="text" name = "email")
                label New Password
                input.user-input(type="text" name = "newpassword")
                button.btn(type="submit") Reset Password
                input(type="hidden" name="_csrf" value=csrfToken )
                
